.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background: linear-gradient(rgb(35, 34, 35), rgb(152, 162, 220));
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: black;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 18px;
  background-color: white;
  color: black;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #dcf1ef;
  color: #FBFBFD
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #E8E8E8;
  flex-grow: 1;
  padding-left: 26px;
  background-color: gainsboro;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}


